@import "reset.css";

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("../fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "CSTM Xprmntl 02";
    src: url("../fonts/CSTM-Xprmntl/CSTMXprmntl02-Italic.otf") format("truetype");
}

body{
    /* cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10.475 0L0.475031 0.499998L0 0.999378V10.4994L0.85355 10.853L3.35355 8.35293L3.5 7.99938V5.83149L11.5214 13.853L12.262 13.816L13.387 12.441L13.3536 11.7709L5.34964 3.76691L8.04975 3.4969L8.35355 3.35293L10.8536 0.852928L10.475 0Z" fill="black"/%3E%3C/svg%3E'), auto; */
}


:root{
    --main-color: #fff;
    --secondary-color: #000;
    --accent-color: #bababa;
}

.dark-theme{
    --main-color: #000;
    --secondary-color: #fff;
    --accent-color: #bababa;
    /* cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10.475 0L0.475031 0.499998L0 0.999378V10.4994L0.85355 10.853L3.35355 8.35293L3.5 7.99938V5.83149L11.5214 13.853L12.262 13.816L13.387 12.441L13.3536 11.7709L5.34964 3.76691L8.04975 3.4969L8.35355 3.35293L10.8536 0.852928L10.475 0Z" fill="white"/%3E%3C/svg%3E'), auto; */
}


html{
    scroll-behavior: smooth;
    
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
    overflow: hidden;
    background: #030303 url("../img/loader.gif") no-repeat center center;
    background-size: 50% auto;
} 


#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    top: -500vh;
    left: 0;
}

.menu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vw;
    height: 4vw;
}

#menu_wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper>nav{
    font-size: 72px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    padding-top: 15.9vw;
}

.wrapper>nav>ul>li{
    padding-top: 35px;
}

.wrapper>nav>ul>li>a{
    text-decoration: none;
    color: var(--secondary-color);
}

#close_icon{
    margin-left: 30px;
}




.social_media>a{
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

::-webkit-scrollbar{
    width: 1px;
}

body{
    overflow-x:hidden;
    text-transform: uppercase;
    background-color: var(--main-color);
}

.container{
    display: block;
    width: 100vw;
    height: auto;
}

.main {
    display: block;
    background-color: var(--main-color);
    width: 100vw;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    overflow-x:hidden;
}

.wrapper{
    width: 88.8vw;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    background-color: var(--main-color);
}

.row-top{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vw;
    height: 4vw;
    /* position: relative;
    z-index: 1; */
}

.logo{

}

.theme_menu>svg{
    cursor: pointer;
}


#menu_icon{
    margin-left: 30px;
}



.top{
    height: auto;
    padding-top: 5vw;
    max-height: 344px;
}

.hr-top{
    height: 1px;
    width: 77.6vw;
    max-width: 1118px;
    background-color: var(--accent-color);
}

.title-main{
    font-size: 72px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 87px;
    color: var(--secondary-color);
}

.left{
    align-self: flex-start;
    width: 43.75vw;
    height: 140.9vw;
    max-width: 630px;
    max-height: 2030px;
    /* background-color: chocolate; */
}

.block-about-01{
    padding-top: 3.75vw;
    float: left;
    width: 21.1vw;
    max-width: 305px;
    height: auto;
}

.subtitle-01{
    display: block;
    float: left;
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}

.img-about{
    width: 100%;
}

.about>*{
    display: inline-block;
}

.about>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.about>p{
    float: right;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}

.about>svg{
    padding-left: 1.4vw;
}

.hr-mid{
    float: left;
    margin-top: 2vw;
    height: 1px;
    width: 100%;
    background-color: var(--accent-color);
}





.block-safety-03{
    float: left;
    padding-top: 3.75vw;
    width: 32.4vw;
    max-width: 467px;
    height: auto;
}

.subtitle-03{
    display: block;
    float: right;
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}

.img-safety{
    width: 100%;
}

.safety>*{
    display: inline-block;
}

.safety>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.safety>p{
    float: right;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}

.safety>svg{
    padding-left: 1.4vw;
}







.block-faq-02{
    float: left;
    margin-top: 19vw;
    width: 43.75vw;
    max-width: 630px;
    height: auto;
}

.subtitle-02{
    display: block;
    float: right;
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}

.img-faq{
    width: 100%;
}

.faq>*{
    display: inline-block;
}

.faq>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.faq>p{
    float: right;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}

.faq>svg{
    padding-left: 1.4vw;
}




.block-shop-04{
    float: left;
    padding-top: 146px;
    padding-left: 25%;
    width: 21.1vw;
    max-width: 305px;
    height: auto;
}

.img-shop{
    width: 100%;
}

.shop>*{
    display: inline-block;
}

.shop>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.shop>p{
    float: right;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}

.shop>svg{
    padding-left: 1.4vw;
}



#icon_go_beyond{
    padding-top: 11vw;
    width: 20.6vw;
    max-width: 297px;
    float: left;
}

























.right{
    align-self: flex-end;
    width: 32.4vw;
    height: 140.9vw;
    max-width: 467px;
    max-height: 2030px;
    /* background-color: crimson; */
}

.center{
    display: none;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    height: 15.4vw;
    max-height: 223px;
}

.footer-up{
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
    align-items: flex-end;
}

.footer-up>a{
        font-size: 18px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        color: var(--secondary-color);
}

.footer-up>svg{
    cursor: pointer;
}


.social_media{
    display: flex;
    align-items: center;
}



#fb_a{
    margin-left: 35px;
}

.footer-down{
    padding-top: 24px;
}

.footer-down>p{
    font-size: 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
    text-transform: lowercase;
}

.footer-down>p:first-child{
    text-transform: uppercase;
}


.hr-down{
    align-self: flex-end;
    height: 1px;
    width: 77.6vw;
    max-width: 1118px;
    background-color: var(--accent-color);
}

.footer-down>*{
    display: inline-block;
}

.footer-down>p:last-child{
    display: inline-block;
    float: right;
    text-transform: capitalize;
}



                                    /* О НАС    ABOUT    О НАС */


.column{
    display: flex;
    flex-direction: column;
}



#about_page #menu{
    z-index: 3;
}

#about_page #a_about{
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}

.subtitle_about{
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}

.block-book-01{
    display: flex;
    margin-top: 5vw;
    flex-direction: column;
    align-items: flex-end;
}


.book{
    margin-top: 10px;
}


.book>*{
    display: inline-block;
}

.book-image{
    display: flex;
    flex-direction: column;
}

.book-image>p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: white;
    position: absolute;
    z-index: 2;
    padding-top: 96px;
    padding-left: 44px;
    padding-bottom: 44px;
    
}

.book-image>img{
    position: relative;
    z-index: 1;
    max-width: 88.8vw;
}

.book>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.book>svg{
    padding-left: 1.4vw;
}

.book>p{
    padding-left: 30px;
    float: right;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}


.down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32.3vw;
    max-height: 463px;
    max-width: 1280px;
    margin-top: 135px;
}

.down>svg{
    padding-right: 2.4vw;
}

.block-gallery-02{
    width: auto;
    max-width: 793px;
}

.block-gallery-02>img{
    max-width: 793px;
}

.gallery{
    float: right;
    margin-top: 10px;
    max-width: 793px;
}


.gallery>*{
    display: inline-block;
}

.gallery>h3{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.gallery>svg{
    padding-left: 1.4vw;
}

.gallery>p{
    padding-left: 30px;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
}




#about_page .footer{
    margin-top: 80px;
}


                                    /* О НАС    ABOUT    О НАС */




                                    /* ГАЛЕРЕЯ    GALLERY    ГАЛЕРЕЯ */



#gallery_page #themes_icon{
    display: none;
}

#gallery_page path{
    fill: white;
}

#gallery_page line{
    stroke: white;
}


#gallery_page #button_up{
    display: none;
}

#gallery_page .footer-down>*{
    color: white;
    font-weight: 200;
}



#gallery_page #a_about{
    font-size: 72px;
    font-family: "CSTM Xprmntl 02";
    font-weight: normal;
    color: var(--secondary-color);
}









                                    /* ГАЛЕРЕЯ    GALLERY    ГАЛЕРЕЯ */



                                    /* Магазин */
#shop .column{
    display: flex;
    flex-direction: column;
}


#item-1{
    display: flex;
    flex-direction: column;
    width: 32.5vw;
    max-width: 468px;
}



#item-2{
    display: flex;
    flex-direction: column;
    width: 32.5vw;
    max-width: 468px;
}

#item-3{
    display: flex;
    flex-direction: column;
    width: 32.5vw;
    max-width: 468px;
}

#item-2{
    align-self: flex-end;
}

.title>p{
    float: right;
    font-size: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

.title{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#left-1>h1{
    font-size: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--secondary-color);
}

#left-1>h2{
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: var(--accent-color);
}

button{
    margin-top: 30px;
    height: 30px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
}


.left-1{

}

                                    /* Магазин */








@media screen and (min-width: 1440px){
        .main{
           
        }
    }

    @media screen and (min-width: 1152px) and (max-width: 1439px){
        .main{
            width: 100vw;
            max-width: 1439px;
        }
    }


    /* @media screen and (min-width: 834px) and (max-width: 1151px){
        .main{
            background-color: blue;
            width: 100vw;
            max-width: 762px;
        }
    } */

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @media screen and (min-width: 275px) and (max-width: 833px) {
        .main{
            background-color: var(--main-color);
            width: 100vw;
            max-width: 762px;
            min-width: 350px;
            height: auto;
        }

        #loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 4;
            overflow: hidden;
            background: #030303 url("../img/loader.gif") no-repeat center center;
            background-size: 80% auto;
      }
        .right{
            display: none;
        }

        .left{
            display: none;
        }

        .header{
            margin-top: 0;
            padding-top: 9.4vw;
        }

        .logo{
            max-width: 44px;
        }

        .top{
            padding-top: 19vw;
        }

        .title-main{
            font-size: 24px;
            line-height: 29px;
        }

        .hr-top{
            height: 1px;
            width: 100%;
            margin-top: 10px;
            background-color: var(--accent-color);
        }

        .left{
            width: 100%;
        }

        .center{
            display: flex;
            flex-direction: column;
        }


        .block-about-01 {
            float: left;
            margin-top: 19vw;
            width: 100%;
            max-width: 630px;
            height: auto;
        }

        .block-faq-02 {
            float: left;
            margin-top: 19vw;
            width: 100%;
            max-width: 630px;
            height: auto;
        }

        .block-safety-03 {
            float: left;
            margin-top: 19vw;
            width: 100%;
            max-width: 630px;
            height: auto;
        }

        .block-shop-04 {
            float: left;
            margin-top: 19vw;
            width: 100%;
            max-width: 630px;
            height: auto;
            padding: 0;
        }

        #icon_go_beyond {
            margin-top: 50px;
            width: auto;
            max-width: 297px;
            float: left;
        }

        .footer-up {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            align-items: flex-end;
        }

        .footer-down{
            padding-bottom: 50px;
        }

        .wrapper>nav {
            font-size: 36px;
            padding-top: 0;
            margin-top: 50vw;
        }

        .wrapper>nav>ul>li {
            padding-top: 20px;
        }

        .book-image>p{
            display: none;
        }
    }


    .down{
        height: unset;
    }

    .down>svg {
        display: none;
    }

    .block-gallery-02>img {
        width: 88.8vw;
    }

    #item-1{
        display: flex;
        flex-direction: column;
        width: 88.8vw;
        max-width: 468px;
    }
    
    #shop .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #item-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 88.8vw;
        max-width: 468px;
    }
    
    #item-3{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 88.8vw;
        max-width: 468px;
    }
    



.video_header{
    position: absolute;
    width: 100%;
    top: 5vh;
    z-index: 0;
}
